@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    <center><b><center> Event_Finder User Stories</b></center>
    <br/>
    <br/>
    1. (5 points) As a customer or host, I want to be able to register and CRUD a profile with a first name, last name, address (street, city, state, zip), and interest.<br />
    2. (7.5 points) As a customer, I want to be able to filter public events based on an interest (sports, music, tech, and food), date, and/or location. (Eventbrite API)<br />
    3. (5 points) As a customer, I want to be able to filter host created events based on an interest (sports, music, tech, and food), date, and/or location.<br />
    4. (7.5 points) As a customer, I want to be able to see recommended events based on my filter criteria (interest, date, and/or location) (Eventbrite API).<br />
    5. (10 points) As a customer, I want to be able to get directions to the selected event. (Use Google Direction API)<br />
    6. (2.5 points) As a customer, I want to be able to rate a host created event<br />
    7. (10 points) As a customer, I want to be able to see a data visualization of the average ratings of a host based on interest (sports, music, tech, and food).<br />
    8. (5 points) As a customer, I want to join a host created event<br />
    9. (5 points) As a host, I want to add, update, or delete an event, which includes the details of an event (date, time, location, name of event, interest).<br />
    10. (5 points) As a host, I want to see my average rating for each interest.<br />
    11. (2.5 points) As a host, I want to see a count of how many people are attending the created event.<br />
    As a developer, I want to integrate a payment API to allow customers to purchase tickets to events.<br />
    As a host, I want to see how many visitors have looked at my created event.<br />
</p>
