
@{
    ViewBag.Title = "Checkout";
}

@model EventFinder_GC.Models.PayPalModel
@{
    ViewBag.Title = "PayPalView";
    Layout = "~/Views/Shared/_Layout.cshtml";


<h2>Checkout</h2>


    <a class="btn btn-success" href="html.Action("PaymentWithPapal","Home")">Checkout</a>
    }