@model EventFinder_GC.Models.PayPalModel

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="../Content/Style.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="row">


    <div class="col-md-12">
        <div class="slider navbar-left">
            <figure>
                <div class="slide">
                    <img src="~/image/image13.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/image4.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/food3.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/irish.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/homeimg.jpg" alt="" />
                </div>

            </figure>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SportEvents</h2>
        <p>
            <div class="image_logo navbar-left">
                <img src="../image/ski.jpg" alt="DC" height="300" width="300" />
            </div>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
<<<<<<< HEAD
        <h2>FoodEvents</h2>
        <p>
            <div class="image_logo navbar-left">
                <img src="../image/food111.jpg" alt="DC" height="300" width="300" />
            </div>
        </p>
=======
        
>>>>>>> 19fc8e23e747ca1bcb8d695bb95a273c552a8d70
    </div>
    <div class="col-md-4">
        <h2>OtherEvents.....</h2>
        <p> <img src="../image/light.jpg" alt="DC" height="300" width="300" /></p>
            </div>
    <p><a class="btn btn-success" href="Html.Action("CheckoutDetails","Home")">CheckoutWithPayPal!!</a></p>
</div>

<<<<<<< HEAD
=======
                    <figure>
                        <div class="slide">
                            <img src="~/image/image1.jpg" alt="" height="100" width="100"/>
                        </div>
                        <div class="slide">
                            <img src="~/image/image2.jpg" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/image/image4.jpg" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/image/image5.jpg" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/image/homeimg.jpg" alt="" />
                        </div>
                    </figure>
                </div>
>>>>>>> 19fc8e23e747ca1bcb8d695bb95a273c552a8d70



