@model EventFinder_GC.Models.PayPalModel

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="../Content/Style.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="row">


    <div class="col-md-12">
        <div class="slider navbar-left">
            <figure>
                <div class="slide">
                    <img src="~/image/image13.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/image4.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/food3.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/irish.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="~/image/homeimg.jpg" alt="" />
                </div>

            </figure>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SportEvents</h2>
        <p>
            <div class="image_logo navbar-left">
                <img src="../image/ski.jpg" alt="DC" height="300" width="300" />
            </div>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>FoodEvents</h2>
        <p>
            <div class="image_logo navbar-left">
                <img src="../image/food111.jpg" alt="DC" height="300" width="300" />
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>OtherEvents.....</h2>
        <p> <img src="../image/light.jpg" alt="DC" height="300" width="300" /></p>
            </div>
    <p><a class="btn btn-success" href="Html.Action("CheckoutDetails","Home")">CheckoutWithPayPal!!</a></p>
</div>




