
@{
    ViewBag.Title = "PayPalView";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>PayPalView</h2>
    <div>
        <table>
            <tr>
                <td>
                   Event Name:
                </td>
                <td>
                    <input type="text" name="EventName" value="Eventname" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Total Price:
                </td>
                <td>
                    $<input type="text" name="totalPrice" value=" " readonly />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="Check Out with Paypal" />
                </td>
            </tr>
        </table>
    </div>
}

