@model EventFinder_GC.Models.PayPalModel
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>

            </tr>
        </thead>
        <tbody>
            @{
                int Total = 0;
            }
           

            <tr>
                <td colspan="4" class="text-right"><b>Total: @Total</b></td>

            </tr>
        </tbody>
    </table>
    <a href="@Url.Action("PaymentWithPapal", "Payment")" class="btn btn-success">Payment >></a>

}
